Repository Quantium-Nonsense/ProjectOmega: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-client1-pro.yaml, azure-pipelines-client2-dev.yaml, azure-pipelines-client2-pro.yaml, azure-pipelines-dev.yml, azure-pipelines-pro.yml

Path conditions:
  azure-pipelines-client1-pro.yaml: any of: AdminClient
  azure-pipelines-client2-dev.yaml: any of: AdminClient
  azure-pipelines-client2-pro.yaml: any of: AdminClient
  azure-pipelines-dev.yml: any of: Backend
  azure-pipelines-pro.yml: any of: Backend

Update azure-pipelines-apk-client2-pro.yaml for Azure Pipelines
  azure-pipelines-apk-client2-pro.yaml
Due: none

gimme some love
  AdminClient/e2e/src/auth/app.e2e-spec.ts
  AdminClient/src/app/supplier/supplier.component.ts
  AdminClient/src/environments/enviroment.common.ts
  AdminClient/target/screenshots/0ac64a3aa206872f508268d0a6a82d49.png
  AdminClient/target/screenshots/0da59cbe852f1ed21cf12d2ef6ff9787.png
  AdminClient/target/screenshots/0e938236d1cbe83a5e3c66e81ece1121.png
  AdminClient/target/screenshots/29c9619675607deee486fd13ffd56c02.png
  AdminClient/target/screenshots/2bc828167c1b7f516d63413d65a4eddd.png
  AdminClient/target/screenshots/2f072aa3a6d284471584ac05cbd341ab.png
  AdminClient/target/screenshots/41fd970e9e9f4bb41d8e814044c63ecb.png
  AdminClient/target/screenshots/45ca6a74a17115b4931db7da65c4229a.png
  AdminClient/target/screenshots/4d48caa71505ddeb092771fe30c8cd13.png
  AdminClient/target/screenshots/4f4afd94aa7cc67cc85373c4ecd8abdc.png
  AdminClient/target/screenshots/4fc6e1be08beb29c3bf77121343bd93e.png
  AdminClient/target/screenshots/5b11c347dcf8048065d67857ccefbc90.png
  AdminClient/target/screenshots/90b0243a7425af7272c3ec41bc4c7481.png
  AdminClient/target/screenshots/a04c936362241a7363d085652e444b45.png
  AdminClient/target/screenshots/a687d0cd8f6829eca62851686379eaf4.png
  AdminClient/target/screenshots/a877d33c9d54ef03b3c97cc6031f342b.png
  AdminClient/target/screenshots/b01bd40e36faf14ee549f456669ea675.png
  AdminClient/target/screenshots/b0adcad9293a9f5a8a0a8c850eb41bce.png
  AdminClient/target/screenshots/c1e3b00707a7519dd0b97fb8eb01a91e.png
  AdminClient/target/screenshots/cec943d1325ba677f220eb9601565ce9.png
  AdminClient/target/screenshots/d8661c09b1777d05b1e16dd50b898975.png
  AdminClient/target/screenshots/dbdcef345b9b9fdbab94e9dc94f3aa1e.png
  AdminClient/target/screenshots/f8a1f092005e38d900d5ef631ee225b3.png
  AdminClient/target/screenshots/fed950120774633e962700cb3a711f07.png
  AdminClient/target/screenshots/my-report.html
  RepClient/package-lock.json
  RepClient/package.json
Due: azure-pipelines-client1-pro.yaml, azure-pipelines-client2-dev.yaml, azure-pipelines-client2-pro.yaml

test
  Backend/src/main/java/com/project/omega/bean/dao/auth/JwtRequest.java
  Devops/present
Due: azure-pipelines-dev.yml, azure-pipelines-pro.yml

Update azure-pipelines-pro.yml for Azure Pipelines
  azure-pipelines-pro.yml
Due: none

test2
  Backend/src/main/java/com/project/omega/bean/dao/auth/JwtRequest.java
Due: azure-pipelines-dev.yml, azure-pipelines-pro.yml

Updating the readme to include archival
  README.md
Due: none
