Repository Quantium-Nonsense/ProjectOmega: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-client1-pro.yaml, azure-pipelines-client2-dev.yaml, azure-pipelines-dev.yml

azure-pipelines-client1-pro.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: omegacr
      repository: client1-pro-frontend
      command: buildAndPush
      Dockerfile: ./AdminClient/Dockerfile
      buildContext: ./AdminClient
      tags: 'latest
  
        $(Build.BuildId)
  
        '
  ...

azure-pipelines-client2-dev.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    inputs:
      containerRegistry: omegacr
      repository: client2-dev-frontend
      command: buildAndPush
      Dockerfile: ./AdminClient/Dockerfile
      buildContext: ./AdminClient
      tags: 'latest
  
        $(Build.BuildId)
  
        '
  ...

azure-pipelines-dev.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Maven@3
    inputs:
      mavenPomFile: Backend/pom.xml
      goals: clean verify
      publishJUnitResults: false
      javaHomeOption: JDKVersion
      mavenVersionOption: Default
      mavenAuthenticateFeed: false
      effectivePomSkip: false
  ...

removed sendgrid
  Devops/k8s/backend/backend-deployment2.yaml
Due: none

Update azure-pipelines-pro.yml for Azure Pipelines
  azure-pipelines-pro.yml
Due: none

fixed kafka secrets
  Devops/k8s/backend/backend-deployment2.yaml
Due: none

Added console appender for kubernetes
  Backend/src/main/resources/logback-spring.xml
Due: azure-pipelines-dev.yml

Update logback-spring.xml
  Backend/src/main/resources/logback-spring.xml
Due: azure-pipelines-dev.yml

repclient piplines modifications
  azure-pipelines-apk-client1-dev.yaml
  azure-pipelines-apk-client2-dev.yaml
  azure-pipelines-apk-client2-pro.yaml
  azure-piplines-apk-client1-pro.yaml
Due: none

Khalil no longer wants to see ALL logs
  Backend/src/main/resources/logback-spring.xml
Due: azure-pipelines-dev.yml

kafka
  Backend/src/main/resources/application.properties
  Devops/k8s/backend/backend-deployment2.yaml
Due: azure-pipelines-dev.yml

Update azure-pipelines-client2-pro.yaml for Azure Pipelines
  azure-pipelines-client2-pro.yaml
Due: none

Update azure-pipelines-client1-pro.yaml for Azure Pipelines
  azure-pipelines-client1-pro.yaml
Due: none

fixed some missing imports
  RepClient/capacitor.config.json
  RepClient/src/app/app.component.ts
  RepClient/src/app/app.module.ts
  RepClient/src/app/auth/store/auth.effects.ts
Due: none

changes to trigger pipeline
  RepClient/src/app/auth/auth.module.ts
  RepClient/src/app/auth/auth.page.ts
Due: none

Update azure-piplines-apk-client1-pro.yaml for Azure Pipelines
  azure-piplines-apk-client1-pro.yaml
Due: none

exclude tag
  azure-pipelines-client2-pro.yaml
Due: none

deleted an attribute that forced android to run on localhost
  RepClient/capacitor.config.json
Due: none

Update azure-pipelines-apk-client2-pro.yaml for Azure Pipelines
  azure-pipelines-apk-client2-pro.yaml
Due: none

fix http on android
  RepClient/package-lock.json
  RepClient/package.json
Due: none

Fixed admin client logging
  AdminClient/src/app/app.component.ts
  AdminClient/src/app/auth/auth.component.ts
  AdminClient/src/app/customers/customers.component.ts
  AdminClient/src/app/orders/orders.component.ts
  AdminClient/src/app/products/products.component.ts
  AdminClient/src/app/reducer-logger.ts
  AdminClient/src/app/reducers/index.ts
  AdminClient/src/app/session-id.ts
  AdminClient/src/app/supplier/supplier.component.ts
  AdminClient/src/app/toolbar/toolbar.component.ts
  AdminClient/src/app/user/user.component.ts
Due: azure-pipelines-client1-pro.yaml, azure-pipelines-client2-dev.yaml

Updated rep client logs
  RepClient/src/app/add-customer/add-customer.page.ts
  RepClient/src/app/app.component.ts
  RepClient/src/app/auth/auth.page.ts
  RepClient/src/app/company/company.page.ts
  RepClient/src/app/home/home.page.ts
  RepClient/src/app/order/order.page.ts
  RepClient/src/app/reducer-logger.ts
  RepClient/src/app/reducers/index.ts
  RepClient/src/app/session-id.ts
Due: none

[CodeFactor] Apply fixes
  RepClient/src/app/add-customer/add-customer.page.ts
  RepClient/src/app/app.component.ts
  RepClient/src/app/auth/auth.page.ts
  RepClient/src/app/company/company.page.ts
  RepClient/src/app/home/home.page.ts
  RepClient/src/app/order/order.page.ts
Due: none

Updated tests
  AdminClient/src/app/auth/auth.component.spec.ts
  AdminClient/src/app/customers/customers.component.spec.ts
  AdminClient/src/app/dashboard/dashboard.component.spec.ts
  AdminClient/src/app/orders/orders.component.spec.ts
  AdminClient/src/app/products/products.component.spec.ts
  AdminClient/src/app/supplier/supplier.component.spec.ts
  AdminClient/src/app/toolbar/toolbar.component.spec.ts
  AdminClient/src/app/user/user.component.spec.ts
  RepClient/src/app/auth/auth.page.spec.ts
  RepClient/src/app/company/company.page.spec.ts
  RepClient/src/app/home/home.page.spec.ts
  RepClient/src/app/order/order.page.spec.ts
Due: azure-pipelines-client1-pro.yaml, azure-pipelines-client2-dev.yaml

[CodeFactor] Apply fixes
  RepClient/src/app/auth/auth.page.spec.ts
  RepClient/src/app/company/company.page.spec.ts
  RepClient/src/app/home/home.page.spec.ts
  RepClient/src/app/order/order.page.spec.ts
Due: none

Updated tests
  AdminClient/src/app/app.module.ts
  AdminClient/src/environments/enviroment.common.ts
  RepClient/src/app/app.module.ts
  RepClient/src/environments/environment.common.ts
Due: azure-pipelines-client1-pro.yaml, azure-pipelines-client2-dev.yaml

client 2 gets correct env path
  RepClient/src/app/auth/auth.page.ts
  RepClient/src/environments/environment.common.ts
Due: none

Update azure-pipelines-client2-dev.yaml for Azure Pipelines
  azure-pipelines-client2-dev.yaml
Due: none

Update azure-pipelines-apk-client2-dev.yaml for Azure Pipelines
  azure-pipelines-apk-client2-dev.yaml
Due: none

remove localhost path
  RepClient/capacitor.config.json
Due: none

Path conditions:
  azure-pipelines-client1-pro.yaml: any of: AdminClient
  azure-pipelines-client2-dev.yaml: any of: AdminClient
  azure-pipelines-dev.yml: any of: Backend
